@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #d6a6dc;
    --branco: #f7c5f4;
    --laranja: #d052f0;
    --azul-degrade: linear-gradient(97.54deg, #6c196e 35.49%, #753289 165.37%);
    --fonte-principal: "Poppins";
    --azul: #eb86ff;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
